// Define variables for your color scheme

// For example:
$gunmetal: #2B2D42; // gunmetal
$gray-blue: #8D99AE; // gray-blue
$anti-flash-white: #EDF2F4; // anti-flash-white
$red-rantone: #EF233C; // red-rantone
$medium-candy-apply-red: #D90429; // medium-candy-apple-red

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
