<div class="main-container">
  <h1>Les meilleurs séducteurs</h1>

  <% counter = 0 %>
  <% @users.each do |user| %>

    <div style="display: grid; grid-template-columns: auto auto auto auto; grid-gap: 20px">
      <p><%= counter += 1 %></p>
      <%= image_tag("#{user.avatar}", class: "avatar") %>
      <p><%= user.name %></p>
      <p></p>
    </div>

  <% end %>
</div>
<%= console %>
