<div class="main-container">
  <h1>Les meilleurs séducteurs</h1>
  <div style="display: grid; grid-template-columns: auto auto auto auto; grid-gap: 20px">
    <p>1</p>
    <%= image_tag("mike", class: "avatar") %>
    <p>Mike</p>
    <p>80%</p>
  </div>
</div>
