<div class="chat-intro">
  <%= image_tag("#{user.avatar}", class: "avatar-large") %>
  <div class="chat-details">
    <h1><%= user.name %></h1>
    <p class="story-title"><%= story.title %></p>
  </div>
</div>
