<div class="chat-intro">
  <%= image_tag("#{user.avatar}", class: "avatar-large") %>
  <div class="chat-details">
    <h1><%= user.name %></h1>
    <p class="story-title">séduit(e) <%= story.title %></p>
    <p>le 29 août 2019</p>
  </div>
</div>
