<div class="chat-intro">
  <%= image_tag("#{story.user.avatar}", class: "chat-avatar") %>
  <div class="chat-details">
    <h1><%= story.user.name %></h1>
    <p class="story-title"><%= story.title %></p>
  </div>
</div>
