<div class="story-card d-flex align-items-end" style="background-image: url(<%= image_path(story.photo) %>)">
  <div>
    <h2><%= story.user.name %></h2>
    <p class="story-title"><%= story.title %></p>
  </div>
</div>
