<h1>Can you seduce?</h1>
<% @stories.each do |story| %>
  <div class="card card-story" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(story.photo) %>)">
    <h2><%= story.title %></h2>
    <p><%= story.description %></p>
  </div>
  <% end %>

