<h1 class="stories-index-title">Seduce...</h1>

<div class="stories-cards">
  <% @stories.each do |story| %>
    <%= link_to story_games_path(story), method: :post, alt: "story photo" do %>
      <div class="story-card" style="background-image: url(<%= image_path(story.photo) %>)">
      <div class="stories-text">
        <p class=stories-authors><%= story.user.email %></p>
        <p class="stories-title"><%= story.title %></p>
      </div>
      </div>
    <% end %>
  <% end %>
</div>
