<div class="border border-primary text-primary m-2 p-2 introduction">
  <h1>Test your seducing skills</h1>
  <p>Choose a story then pick the right answers to seduce and maybe meet another lonesome heart</p>
</div>

<% @stories.each do |story| %>
  <div class="card card-story" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(story.photo) %>)">
    <h2><%= story.title %></h2>
    <a href="/stories/<%= story.id %>/games" data-method="POST">
      <div class="play">
        <i class="fas play-button fa-play"></i>
      </div>
    </a>
  </div>
<% end %>
