<div class="introduction">
  <div class="seducee">
    <%= image_tag("alice") %>
    <h1>Alice</h1>
  </div>
  <div class="rules">
    <p>Hello!</p>
    <p>You have 3 chances to seduce me and each time you have to choose between 2 answers which one I prefer.<br>
    If you succeed you'll get to chat with me!</p>
    <p>Good Luck!</p>
  </div>
  <h3>Choose a story</h3>
</div>


<div class="stories-container">
  <% @stories.each do |story| %>
    <%= link_to story_games_path(story), method: :post, alt: "story" do %>
      <div class="story" style="background-image: url(<%= image_path(story.photo) %>);">
      </div>
    <% end %>
  <% end %>
</div>
