.chat-avatar {
  width: 75px;
  border-radius: 50%;
}

.chat-intro {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 10px;
  margin: 0 20px 20px 20px;
}

.chat-details {
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
