.chat-intro {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 10px;
  margin: 0 20px 20px 20px;
  align-items: center;
}

 .chat-details {
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.chat-details p:last-child{
    font-style: italic;
}

.messages-screen {
  border: none;
  height: 68vh;
}

input#message_content {
  position: fixed;
  bottom: 7px;
  left: 6.1px;
  width: 97%;
}
