.messages {
  font-size: 1rem;
  color: black;
  background-color: #F4F4F4;
  padding: 20px;
  border: 1px solid #5BC4F9;
  height: calc(100vh - 76px - 155px - 38px - 20px);
  overflow: scroll;
  border-radius: 4px;
}

.message {
  line-height: 1.5;
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #5BC4F9;
      color: white;
    }
  }
}
.message-content {
  // background-color: rgba(150, 4, 41, 1) !important;
  background-color: #D8D8D8;
  border-radius: 10px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  // padding: 4px;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-top: 5px;
  // border: 1px solid #5BC4F9;
  // border-color: #5BC4F9;
  // border-radius: 10px;
  // line-height: 1.5;
}
.message_content {
  margin-bottom: 0;
}
input.form-control {
  border: 1px solid #5BC4F9;
  border-radius: 10px;
  box-shadow: none;
  font-size: 16px;
  color: #868686;
  &:focus {
    outline: none;
    // border: 1px solid blue;
    box-shadow: 0 0 2px  2px #5BC4F9;
  }
}
.chat-header {
  // background-color: #4F2F4C;
  color: #960429;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

.seducee-greetings {
  display: grid;
  grid-template-columns: 23% 77%;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin-bottom: 15px;
  align-items: center;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 1.3em;
  }
}
