.messages {
  font-size: 1rem;
  color: black;
  background-color: $seduce-white;
  padding: 5px;
  border: 1px solid $seduce-blue;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  min-height: 50vh;
  overflow: scroll;
  // border-color: #5BC4F9;
  border-radius: 10px;
}

.message {
  line-height: 1.5;
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: $seduce-blue;
      color: white;
    }
  }
}
.message-content {
  background-color: $seduce-gray;
  border-radius: 10px;
  // margin: 0 10px;
  padding: 11px 10px 8px 10px;
  max-width: 80%;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  // padding: 4px;
  background-color: $seduce-white;
  margin-bottom: 20px;
  margin-top: 5px;
  // border: 1px solid #5BC4F9;
  // border-color: #5BC4F9;
  // border-radius: 10px;
  // line-height: 1.5;
}
.message_content {
  margin-bottom: 0;
}
input.form-control {
  border: 1px solid $seduce-blue;
  border-radius: 10px;
  box-shadow: none;
  font-size: 16px;
  color: #868686;
  &:focus {
    outline: none;
    // border: 1px solid blue;
    box-shadow: 0 0 2px  2px $seduce-blue;
  }
}
.chat-header {
  // background-color: #4F2F4C;
  color: $seduce-dark-blue;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}
