.navbar-lewagon {
  justify-content: space-between;
  background-size: cover;
  background-position: bottom;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
  vertical-align: top;
}

.navbar-brand span {
  position: relative;
  top: 11px;
}

.nav-item img {
  margin-left: 10px;
}

.nav-item a.nav-link {
  font-size: 1.1em;
}
