.game-info {
  width:100%;
  align-items: stretch
}

.dashboard-score {
  color: $seduce-red;
  font-size: 1.5em;
}

.chat-user {
  display: flex;
  margin: 10px 30px;
}

.chat-user-details {
  display: flex;
  // justify-content: center;
  align-content: flex-end;
  // text-align: center;
  h3 {
    display: inline;
    margin: 20px;
    color: black;

  }
}

.burnt {
  background-blend-mode: saturation;
}


.align-self-end {
  position: relative;
  // justify-content: flex-end;
  bottom: 5px;
  right: 5px;
  display: block;
}
