.stories-rules {
  padding: 20px;
}

.make-choice {
  padding: 0 20px 10px 20px;
}

.stories-cards {
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.story-card {
  background-size: cover;
  background-position: center;
  height: 162px;
}
