.stories-introduction {
  background-color: white;
  color: #960429;
  margin: 15px 15px 20px 15px;
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  h1 {
    font-size: 2.1em;
  }
  h3 {
    margin-top: 20px;
  }
}

.seducee-welcome {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-template-rows: 1fr;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 15px;
}

.rules {
  padding-left: 10px;
  padding-right: 10px;
  p {
    font-size: 1.1em;
  }
}

.story {
  background-size: cover;
  background-position: center;
  height: 162px;
  width: 100%;
  color: #EDF2F4;
  padding: 10px;
  // text-align: right;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  h2 {
    font-size: 1.4em;
  }
}

.stories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  margin: 15px;
}
